* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.promo {
    min-height: 800px;
    background: url('../img/first_screen.png') center center/cover no-repeat;
    padding: 39px 0px 62px 0px;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    color:#fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
}

h1 {
    margin-top: 53px;
}

h2.title {
    margin-top: 30px;
}

.title {
    color: #f9bf3b;
    font-size: 41px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.simple .title_big {
    color: #fff;
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-top: 21px;
}

.promo .promo_text {
    color: #fff;
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    padding: 0 13px;
    margin-top: 23px;
}

.promo .promo_text span {
    color: #f9bf3b;
    font-weight: 900;
}

.promo .promo_btn, .gift .gift_btn {
    display: block;
    margin: 0px auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    border: none;
    border-radius: 5px;
    box-shadow:  0 0 0 4px rgba(0, 0, 0, 0.11), inset 0 -5px 0 0 rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9, #3ab6da);
    color:#fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}


.more {
    margin-top: 73px;
}

.more .more_text {
    color: #fff;
    font-size: 15px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
}
.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting {
    background-color: #efefef;
    padding: 85px 0 75px 0 ;
    min-height: 604px;
}

.waiting .waiting_header, .finish .finish_header {
    color: #252525;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.finish .finish_header {
    color: #fff;
}
.waiting .waiting_divider, .finish .finish_divider {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader {
    margin-top: 18px;
    color: #4a4a4a;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}

.waiting .waiting_wrapper {
    justify-content: space-between;
    margin-top: 45px;
    display: flex;
}

.waiting .waiting_wrapper .waiting_item {
    width: 339px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 33px;
    color: #4a4a4a;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization .optimization_header {
    margin-left: 391px;
    color: #299cbd;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
}

.optimization .optimization_text {
    margin-left: 391px;
    color: #4a4a4a;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    margin-top: 25px;
}

.optimization .optimization_text span {
    font-weight: 700;
}

.optimization .optimization_img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url('../img/background.jpg') center center/cover no-repeat;
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 204px;
}

.finish .finish_wrapper .finish_item .finish_round {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 25px;
    text-align: center;
    color: #efefef;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}

.gift {
    min-height: 600px;
    background-color: #efefef;
}

.gift .gift_wrapper {
    padding-top: 87px;
    padding-bottom: 82px;
}

.gift .gift_wrapper .gift_img {
    display: block;
    margin: 0 auto;
}

.gift .gift_wrapper .gift_text {
    margin-top: 45px;
    text-align: center;
    color: #252525;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}
.gift .gift_btn {
    margin-top: 54px; 

}

.vebinar {
    min-height: 515px;
}
.vebinar_wrapper {
    padding-top: 85px;
    padding-bottom: 68px;
}

.vebinar img {
    display: block;
    margin: 0 auto;
}

.vebinar_first_text {
    margin-top: 43px;
    color: #252525;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.vebinar_date {
    margin-top: 20px;
    color: #299cbd;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.vebinar_last_text {
    margin-top: 20px;
    color: #4a4a4a;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}

.footer {
    min-height: 167px;
    background-color: #1a1a1a;
}

.footer_text {
    font-weight: 300;
    color: #888888;
    padding-top: 60px;
    padding-bottom: 69px;
    text-align: center;
}

.footer_links a {
    color: #888888;
}